In [3]:
import pandas as pd

df = pd.read_csv('C:\\Users\\dell3\\Downloads\\INTERNSHIP\\CODTECH\\TASK 3\\ds_project\\bank-full.csv', sep=';')
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [4]:
df = pd.get_dummies(df, drop_first=True)
df['y'] = df['y'].map({'yes': 1, 'no': 0})

KeyError: 'y'

In [5]:
import pandas as pd

# Load CSV
df = pd.read_csv(r'C:\Users\dell3\Downloads\INTERNSHIP\CODTECH\TASK 3\ds_project\bank-full.csv', sep=';')

# First, convert 'y' target column
df['y'] = df['y'].map({'yes': 1, 'no': 0})

# Then apply one-hot encoding to the rest
df = pd.get_dummies(df, drop_first=True)

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

X = df.drop('y', axis=1)
y = df['y']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestClassifier()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9100962070109477

In [7]:
import joblib
joblib.dump(model, 'model.pkl')
joblib.dump(X.columns.tolist(), 'columns.pkl')

['columns.pkl']

In [8]:
from fastapi import FastAPI
from pydantic import BaseModel
import joblib
import numpy as np

app = FastAPI()

model = joblib.load('model.pkl')
columns = joblib.load('columns.pkl')

class UserInput(BaseModel):
    input_data: list

@app.post("/predict")
def predict(data: UserInput):
    input_array = np.array(data.input_data).reshape(1, -1)
    prediction = model.predict(input_array)[0]
    return {"prediction": int(prediction)}